html {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.palette-container {
  width: 800px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.palette-cell {
  height: 100px;
  flex: 1
}

.palette-cell:not(:first-of-type){
  border-left: 1px solid black;
}
