html {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

button#save-button {
  position: absolute;
  top: 20px;
  right: 150px;
  font-size: 1.5rem;
}

button#load-button {
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: 1.5rem;
}

.palette-container {
  width: 800px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}

.palette-cell {
  height: 100px;
  flex: 1
}

.palette-cell:not(:first-of-type){
  border-left: 1px solid black;
}
